html, body{
  overflow : hidden;
  padding : 0;
  margin : 0;
}
canvas{
  position : absolute;
  top : 0;
  image-rendering : pixelated;
}
select, option{
  outline : none;
}
.grid-container{
  width : 100%;
}
.dg .cr.number, .dg .cr.boolean, .dg .cr.string, .dg .cr.color{
  border : none;
  text-shadow : none;
  font-family : "Hack" !important;
}
.dg .cr.boolean:hover{

}
.dg .cr.number input[type=text]{

}
.dg .c .slider-fg{

}
.slider-fg{
  background-color: #666 !important;
}
input{
  font-family: monospace !important;
  color: #eee !important;
}
.close-button{
  display : none;
}
.dg .c input[type=checkbox]{

}
.dg .c input[type=text]{

}
.dg .c .slider:hover .slider-fg{

}
.dg.main, .dg li{
  /*min-width: 300px;*/
  /*max-width: 1000px;*/
  left: -2px;
  top: calc(100vh - 100px);
}
.dg.ac{
  z-index : 1000;
}
.dg ul{
  border : none;
}
.dg li{
  border : none;
}
.dg li.cr.function{
  border : 1px solid #444;
}
.dg .cr.function *{
  text-align : center;
  width : 100%;
}
.dg li.title{
  border : none;
  text-align : center;
  font-weight : bold;
}
.dg .closed li:not(.title){
  /*display : none;*/
}
.dg ul.closed{
  position : relative;
  max-height : 2.5em;
  overflow : hidden;
}
.dg.main{
  position : absolute;
  box-sizing : border-box;
  width : 100% !important;
  padding-right : 5px;
}
.dg li.folder{
  border : 1px solid #444;
  padding : 1px;
  padding-left : 4px;
  margin-bottom : 3px;
}
a{
  cursor : pointer;
}
a:visited{

}
*{
  border-width : 1px !important;
  font-family : "Hack" !important;
}
table{
  width : 100%;
  border : 1px solid #444;
  user-select : none;
}
td{
  border : 1px solid #444;
  text-align : center;
  font-size : 0.9em;
  cursor : pointer;
}
.grid-cell.forced{

}
td.active{

}
.dg .property-name{
  max-width: 100px !important;
  user-select : none;
  font-family: monospace !important;
}
.dg .title{
  user-select : none;
}
.dg .cr.string .c select{
  position : relative;
  max-width : calc(100% + 5px);
  min-width : calc(100% + 5px);
  margin-left : -5px;
  box-sizing : border-box;
  padding : 0;
  font-size : 1em;
}
.display{
  font-size : 0.9em;
  font-family : Hack;
  padding : 0.7em;
}
h1{
  font-size : 1em;
  text-transform : uppercase;
  font-family : monospace;
  font-weight : normal;
  margin : 0;
}
b{

}
i{
  font-style : normal;
}
div{
  margin : 0;
  white-space : break-all;
}
.disabled{

}
.code{
  white-space : pre-wrap;
}
::selection{

}
::-moz-selection{

}
input[type='checkbox']{
  width: 0px !important;
  height: 0px !important;
  margin: 5px;
  position: relative;
  top : 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  box-shadow: none;
  font-size: 1em;
  outline: 8px solid #000;
}

html, body{
  background-color : #000;
  overflow : hidden;
}
canvas{
  position: fixed;
  top :  0;
  left: 0;
  height: 100%;
  width: 100%;
}